<div class="content from-top content">

        <h1>Хранителните добавки</h1>
        <br>
        <br>
        <div>
                Витамин С. Всички ние неведнъж сме чували за него. Но дали в действителност го познаваме? Дали сме наясно с ползата, която носи за всички нас?
<br>
                        Витамин С -  знаем ли достатъчно за него
                        <br>
                        Какво представлява витамин С?<br>
                        Витамин С или аскорбинова киселина изпълнява множество важни функции в човешкия организъм.
                        <br>
                        Той увеличава значително усвояването на желязо (Fe), участва в образуването на костите, зъбите и тъканите.
                        <br>
                        Значителна роля има при заздравяването на рани, поддържа еластичността на кожата, необходим е за производството на стресовите хормони, подобрява устойчивостта към инфекции, помага при високо кръвно налягане, атеросклероза и рак.
                        <br>
                        Много важно е да се знае, че този витамин не може да се образува в човешкото тяло, поради което е нужно да бъде внасян чрез храната или на таблетки. 
                        <br>
                        Храните, които са най-богати на витамин С, са шипките - 1250 мг на 100 гр, докато цитрусовите плодове съдържат едва 50 мг на 100 гр плод.
                        <br>
                        Други добри източници на този жизненоважен витамин са: пиперки, ягоди, картофи, карфиол, както и много други пресни плодове и зеленчуци.
                        <br>
                        Много важно е да се знае, че при набавяне на витамин С от плодове и зеленчуци е препоръчително те да се консумират в суров вид.
                        <br>
                        Голяма част от витамина се разрушава при термична обработка, при замразяване и дори при по-дълго съхранение.
                        <br>
                        Действие на витамин С
                        На всички нас е известно основното влияние на витамина върху съпротивителните сили на организма.
                        <br>
                        На първо място той подобрява дейността на белите кръвни телца, които от своя страна имат функцията да откриват, разрушават и изяждат вирусите, бактериите и раковите клетки.
                        <br>
                        Белите кръвни телца на хора, които приемат витамин С в порядъка на 2 до 3 гр дневно се отличават със значително по-голяма активност.
                        <br>
                        Витамин С е изключително важен оксидант. От своя страна той усилва действието на други антиоксиданти като всеизвестните ни витамини А и Е.
                        <br>
                        Може да се твърди, че тези три витамина са жизненоважни един за друг (имат синергична връзка), понеже всеки от тях има свойството да усилва и подпомага значително действието на другите два.
                        <br>
                        Много важна роля има по отношение на мозъка. Той го поддържа, като го предпазва от кислородна недостатъчност.
                        <br>
                        След изследвания най-високи концентрации на витамин С в човешкото тяло са били откривани в нервната тъкан, което показва, че тази част на тялото има най-голяма нужда от него.
                        <br>
                        Преди години са били проведени опити, които са разкрили, че витамин С, А и селен са в състояние да предотвратят развитието на ракови клетки.
                        <br>
                        В частност сам по себе си витамин С пречи значително на преобразуването на някои вещества в ракообразуващи.
                        <br>
                        Като такива могат да се посочат нитритите, които се намират най-вече в плодовете и зеленчуците, вследствие на торенето им с азотни торове, които ние по лошо стечение на обстоятелствата няма как да избегнем и поглъщаме повече или по-малко.
                        <br>
                        При попадането си в човешкия организъм те се превръщат в нитрозамини, които са главна причина за развитието на рак на стомаха и червата.
                        <br>
                        Доказано е, че големи количества на витамин С блокират процеса на превръщане на нитратите и нитритите в нитрозамини.
                        <br>
                        Ползата от витамин С при спортуващи
                        За занимаващите се с фитнес витамин С е от жизненоважно значение за поддържане на съединителната тъкан на костите в добро състояние.
                        <br>
                        Без витамин С е невъзможен синтезът на колаген, който е основен протеин за изграждането на съединителната тъкан. Приема на нужните дози от витамин С спомага за по-бързо заздравяване на рани по кожата и за поддържането й в добро състояние.
                        <br>
                        Освен това витамин С участва в усвояването на калция, от което става ясно, че спомага за формирането на костите, растеж и навременно и безпроблемно зарастване при счупване.
                        <br>
                        Всички ние сме чували и знаем за изключителната важност на сърдечно-съдовата система. Но е добре да знаем за благотворното влияние на витамина върху сърцето и кръвоносните съдове.
                        <br>
                        При проведени изследвания на хора, прекарали инфаркт е забелязано, че белите кръвни телца пренасят витамин С от други части на тялото към сърцето, като по този начин се подпомага възстановяването на увредените клетки на сърдечния мускул.
                        <br>
                        Съществува обратнопропорционална връзка между кръвното налягане и витамин С - т.е., колкото по-малко от жизненоважното вещество, толкова по-високо налягане.
                        <br>
                        Жизненоважен е за хора, които страдат от алергии. Също така при комбинация с витамин В1 и аминокиселината цистеин може да предотврати увреждащи действия от страна на формалин, формалдехид и ацеталдехид.
                        <br>
                        Витамин С противодейства на други токсични и ракообразуващи процеси в тялото.
                        <br>
                        Такива се предизвикват от цигарен дим, никотин, автомобилни газове, тежки метали... все неща, на които сме подложени в нашето ежедневие.
                        <br>
                        Научни изследвания показват, че кръвта на пушачи и алкохолици съдържа средно 20 до 40 % по-малко витамин С.
                        <br>
                        Причината за това е, че резервите от витамина постоянно се изтощават от посочените агресивни влияния.
                        <br>
                        Ако не се набавя ежедневно и в нужните количества, това може да доведе до множество трайни вреди.
                        <br>
                       <h2> Препоръчителни дози</h2><br>
                        Препоръчваната доза за възрастен човек е 60 мг. Въпреки всичко посочената доза е предмет на редица спорове.
                        <br>
                        Има много фактори, които увеличават нуждите от витамин С. Като пример може да се посочи голямата горещина или голям студ.
                        <br>
                        Пушенето, приемът на противозачатъчни и други лекарствени средства, подлагането на големи физически натоварвания при работа или спорт.
                        <br>
                        Много медицински лица предписват големи дози при лечение на ракови или сърдечно-съдови заолявания.
                        <br>
                        Професионалните спортисти в своите съвети и диети препоръчват да се приемат около 2 до 3 грама дневно.
                        <br>
                        До момента не е известен случай на предозиране от витамин С, поради което споменатите дози от по 2 до 3 гр на ден не могат да се смятат за предозиране.
                        <br>
                        Но при приемане на много по-големи дози, възможно е да възникнат стомашни проблеми, особено за страдащи от гастрит и язва.
                        <br>
                        За такива случи се препоръчв да се приема витамина след храна или чрез разтворими варианти на същия.
                        <br>
                        За трениращи се препоръчва доза от около 3 гр, но е важно да се знае, че до тази доза е нужно да се стига последователно и внимателно.
                        <br>
                        Рязкото подаване на големи количества витамин С може да доведе до стомашни разстройства. Същото важи и при спирането му.
                        <br>
                        При приемането на високи дози е нужно последователно и внимателно намаляване на дозите, за да не се стига до сътресения и рязко подлагане на организма на глад за витамин С.
                        <br>
                        За начинаещите е достатъчно да се придържат към дозата от 1 гр.
                        <br>
                        Приемът на витамин С може и дори е препоръчително да се комбинира с биофлавоноиди, тъй като има основание да се смята, че подобряват усвояването му от организма.
                        <br>
                        В заключение
                        Това, в общи линии, са основните положения около витамин С. За край на тази полезна информация считам за необходимо да обърна внимание на един малко известен факт.
                        <br>
                        Витамин С има свойството лесно да се окислява. Това окисляване го превръща в дехидроаскорбат.
                        <br>
                        Това е вещество с диаметрално противоположни свойства. Това означава, че за разлика от витамин С не пази клетката, а я уврежда.
                        <br>
                        Поради което обръщам внимание, че ако случайно сте забравили разтворен в чаша вода витамин С от сутринта е по-добре да не го пиете, а да го изхвърлите.
                        <br>
                        За около 2 до 3 часа половината от количеството от разтворения витамин във вода се окислява до дехидроаскорбат.
                        <br>
                        В статията са използвани източници - виж списъка.
                        <br>
                        Библия на витамините - автор - Ърл Миндъл.<br> Издание на Издателство "Хемус" - 1997 г. 
                        <br><br>
        </div>
        <br><br>
        <div class="row">
                <div class="col-md-12">
                       
                                <img class="rounded" src="../assets/food2.jpg" alt="New York" width=100% height="300">
           </div>
        </div>
</div>
<div class="from-top">

</div>