
<style>
        a {
    color:black;
    font-family: 'PT Sans', Arial, sans-serif;
    padding:7px;
  }

  a:hover{
    text-decoration: none!important; 
    color: #46ADC6 !important;
    cursor: pointer!important;
  }
.from-top{
    margin-top: 80px;
    margin-left: 50px;
}

.col-padding{
    padding-left:50px;
}
.content {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px
}

</style>
<div class="content from-top content">

        <h1>Food and Vitamins.</h1>
        <h2>Our eating habits directly determine our health.</h2>
        <br>
        <br>
        <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn btn-link" routerLink="/food1" >Perfect food?</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn btn-link"  routerLink="/food2">Vitamic C. Can we overdose?</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn btn-link"  routerLink="/food3">Should we take supplements?</a>
                </li>
        </ul>
        <br><br>
        <div class="row">
                <div class="col-md-12">
                       
                                <img class="rounded" src="../assets/food2.jpg" alt="New York" width=100% height="300">
           </div>
        </div>
</div>
<div class="from-top">

</div>