<div class="content from-top content">

        <h1>Коя е перфектната програма</h1>
    
        <br>
        <br>
        <div>
        </div>
        <br><br>
        <div class="row">
                <div class="col-md-12">
                        <br><br><br>
                        Малко преди нова година, започнах да пиша концептуален материал подобен на статията ми “най-добрата диета за отслабване”.
        <br>
                        Целта ми беше да напиша статия относно това коя е най-добрата тренировъчна програма. Е краткия материал бързичко набъбна до над 10 хиляди думи и в крайна сметка се превръща в електронна книга, която ще пуснем напълно безплатно за всички вас!
                        Ако искаш да си 100% сигурен/а, че ще я получиш натисни бутона долу и се върни към четенето на статията!
                        <br><br>    
                        
                        В нашата фейсбук група се заформи интересна дискусия относно тренировъчната честота и аз обещах да споделя своите мисли по темата.
                        <br>
                        За разлика от диетологията, спортните науки са много ново попълнение в научния свят. Все още липсват качествени и дългосрочни проучвания по много теми, а тези които са налични пораждат само повече въпроси.
                        <br>
                        Също така научния метод понякога е опак и може да ни подведе в заключенията ни.
                        <br> 
                        Надявам се тази извадка да ви е интересна и да ви помогне да разберете, защо няма една най-добра тренировъчна програма!
                        <br> 
                        Специални благодарности на Костадин Зашев от Strong by Science за коментарите по тази извадка от книгата, с които ми помогна да направя това една завършена и полезна мини-статия!
                        <br> 
                        Съдържание 
                        <br><br>  
                        Защо няма една най-добра програма?<br>
                        Генетичен потенциал<br>
                        Не съм създаден за този спорт!<br>
                        Отвъд гени и спорт – какво правим извън залата, което влияе на резултатите?<br>
                        Как да постигна резултати?<br>
                        ЗАЩО НЯМА ЕДНА НАЙ-ДОБРА ПРОГРАМА?<br>
                        Проучванията с които разполагаме на този етап се различават по дизайн, продължителност и изследвана популация. Това по което си приличат обаче е,
                        <br>
                        че независимо от вида на изследването резултатите се предоставят на средни стойности.
                        <br>
                        Това е стандарт в научния език. Но този стандарт може да се окаже пречка, когато искаме да приложим нещо на практика.
                        <br>
                        Ето какво имам предвид.
                        
                        <br><br><br>
                        
                        Нека разгледаме следната графа, която е взета от това проучване. На нея са изобразени резултатите на 53 участника, които тренират по една и съща програма в продължение на 9 седмици. Участниците изпълняват бедрени разгъвания 3 пъти на седмица, като в края на изследването се измерват един куп маркери, най-важния от който е напречното сечение на квадрицепсите.
                        <br>
                        Един поглед е достатъчен да заключим, че това е супер програма тъй като средно участниците повишават размера на квадрицепсите си с около 5.7%.
                        <br>
                        Но забележете и че 5 участника всъщност ГУБЯТ мускулна маса. В същото време един участник забелязва почти 20% увеличение в размера на квадрицепсите!
                        <br>
                        Защо тогава резултатите са позитивни?
                        <br>
                        Когато изследваме достатъчно голям брой хора (обикновено над 100, но зависи от популацията) получаваме нормално статистическо разпределение, което има формата на камбана.
                        
                        <br>
                        
                        При подобнo разпределение 68% от хората ще имат резултат, който се намира на 1 стандартно отклонение от средното за групата, а 95% от хората ще се намират на 2 стандартни отклонения.
                        <br>
                        При проучването от по-горе стандартното отклонение е около 17% от средното. Проблемът е, че всички искаме да сме със 17% НАД средния резултат за нашата извадка.
                        <br>
                        Въпросът за милион долара е как да изберем програма, която да ни предостави възможно най-добри резултати?
                        <br>
                        Това е и причината програмите от Интернет да работят супер за някои, не толкова добре за други и да са напълно трагични за трета група от хора.
                        <br>
                        В Интернет има страхотни програми като 5х5, 5-3-1 и стотици други, които може да използвате.
                        <br>
                        Но ако “нищо не работи за вас” и сте готови да се откажете от тренировките с тежести, дочетете тази книга преди да направите решението си окончателно.
                        <br>
                        Двамата със Стан сме изградили репутацията си до момента именно върху индивидуалния подход и в остатъка от тази книга ще ви споделя голяма част от знанията, които сме натрупали в последните години!
                        <br>
                        ГЕНЕТИЧЕН ПОТЕНЦИАЛ<br>
                        Освен статистическите проблеми свързани с изследванията и научния метод има още няколко неща, които правят резултатите трудни за интерпретация.
                        <br>
                        Може би и най-пренебрегваният фактор, що се отнася до програмиране – от тук нататък ще ползваме този термин вместо ‘съставяне на тренировъчен режим’ – е генетичния потенциал.
                        <br>
                        Това проучване например разкрива, че размера и вида на пелвиса е от огромно значение за възстановяването на глутеус максимус след смяна на тазобедрена става.
                        <br>
                        Но интересната за нас находка е, че един мъж има 484% по-голям глутеус от друг мъж от групата. Представете си, ако вашия тренировъчен партньор, има буквално 5 пъти по-големи ръце!
                        <br>
                        Това прави задачата на изследователите както и на тези от нас, които търсят практическото приложение доста трудна. Освен това генетичния потенциал може да има много различни измерения.
                        <br>
                        Най-значими са може би размера на вашия скелет, размера на китките и глезените и други белези като например телесно окосмение (нито задължителен нито достатъчен фактор).
                        <br>
                        Когато говорим за бодибилдинг архитектурата (форма, залавни места и др.) на самия мускул също има огромно значение! Аз и Стан сме отличен пример за това.
                        <br><br><br>
                        
                        
                        На тези две снимки сме почти идентични откъм тегло, процент подкожни мазнини и височина. Залавните места, и формата, на някои от мускулите на Стан го карат да изглежда много по-голям от мен. Вижте разликата в квадрицепсите ни! За сметка на това аз имам доста по-развит трапец без да го тренирам директно почти никога. Гени!
                        <br>
                        Отвъд първичните белези всичко се случва на клетъчно ниво и зависи от експресията и транскрипцията на определени гени и способността да бъдат активирани сателитните клетки в мускулните влакна.
                        <br>
                        Гените имат такова значение, че могат да направят разликата между никакъв и уникален прогрес! Горещо препоръчвам статията на Брет Контрерас по темата както и тази на Менно Хенселманс, тъй като те обхващат голяма част от разликите в генетичния потенциал.
                        <br>
                        НЕ СЪМ СЪЗДАДЕН ЗА ТОЗИ СПОРТ!<br>
                        В научната литература се забелязват и т.н. ‘non-responders’ – хора, при които тренировките с тежести не водят до никакви резултати. Може би сте чували и термина “hard-gainer” или човек, който трудно покачва ММ.
                        <br><br>
                        През последните години с напредъка на проучванията става все по-ясно, че няма нон-респондъри, но в действителност при някои хора резултатите идват АДСКИ трудно и зависят от количеството тренировъчен обем.
                        <br>
                        Едно проучване от особен интерес сравнява трениращи по генерална програма срещу индивидуализирана. Резултатите са доста интригуващи и показват, че 64% от хората трениращи по генерална програма имат прогрес,
                        <br>
                        за разлика от 100% при групата, която ползва индивидуализирана програма!
                        <br>
                        Друго проучване ползва панел от 15 гени, за да разпредели две групи от атлети спрямо техния фенотип. След това изследователите разделят хората спрямо това дали имат генетическо предразположение за тренировки с висок или нисък интензитет.
                        <br>
                        Изследователите провеждат две различни проучвания, като и в двете сравняват групи от хора трениращи по подходяща за тях програма, отговаряща на техния фенотип, или програма, която е противопоказна за тях. Сред нон-респондърите и тези с много слаби резултати 82% са от групите, които НЕ тренират спрямо своя фенотип.
                        <br>
                        ОТВЪД ГЕНИ И СПОРТ – КАКВО ПРАВИМ ИЗВЪН ЗАЛАТА, КОЕТО ВЛИЯЕ НА РЕЗУЛТАТИТЕ?
                        Но не всичко се дължи на гените и тренировките. В крайна сметка изследователите от нито едно проучване не “светят” на участниците и не знаят подробности за техния начин на живот.
                        <br>
                        Качеството на диетата и съня, както и количеството стрес на което са подложени тези участници отвъд рамките на проучванията могат да имат огромен и внушителен ефект!
                        <br>
                        За жалост е изключително скъпо да се проведе дългосрочно проучване, в което тези фактори да се изолират и уеднаквят за всички участници.
                        <br>
                        Много често качеството и придържането към диетата, дори в проучвания, чиято цел е изследване на телесната композиция, се оценява на базата на дневници, които участниците трябва да поддържат самостоятелно.
                        <br>
                        Веднъж на седмица или две, участниците имат среща с диетолог, който разглежда хранителните им дневници.
                        <br>
                        
                        <br><br>
                        Много често чуваме и хора да се оправдават, че “метаболизма ми е повреден” и “не мога да качвам/свалям, защото имам бърз/бавен метаболизъм”.
                        <br>
                        Първо ви съветвам да прочетете статията ми за метаболизма, за да разберете как работи той.
                        <br>
                        Второ ще оставя един цитат от статията си за съня, който най-ясно демонстрира защо съня може да е в основата на липсващите резултати на голяма част от хората и как недоспиването наистина може да “забави” вашия метаболизъм:
                        <br>
                        Едно от най-добрите проучвания по темата сравнява 8.5 часа сън и 5.5 часа сън в продължение на 14 дневен калориен дефицит. Резултатите са повече от интригуващи – групата, която е лишена от сън, гори 55% по-малко мазнини и 60% повече мускулна маса за всеки загубен килограм!
                        <br>
                        Няма как да изолираме подобни фактори, а те имат страхотен ефект върху крайните резултати!
                        <br>
                        КАК ДА ПОСТИГНА РЕЗУЛТАТИ?
                        <br><br>Основното нещо, което искам да предам на всеки един от вас е, че НЕ трябва да ползвате “липсата на гени”, за оправдание. Както споделих по-рано, дори при нон-респондърите се забелязва ефект, но той е много слаб.
                        <br>
                        Ако ви липсват резултати, обърнете внимание на съня и диетата си, след което се опитайте да овладеете стреса в ежедневието! Дори това да не доведе до по-добри резултати, със сигурност ще увеличи качеството на живота ви многократно!
                        <br>
                        Факторите които са от значение са прекалено много, за да създадем унифициран модел. Но за сметка на това количеството научно-потвърдена информация расте с всеки изминал ден!
                        <br>
                        Макар и тази наука да е нова, засега е произвела много различни подходи, които все пак имат някаква научна подкрепа, с които можете да експериментирате, докато не намерите правилния за вас подход!
                        <br>
                        За щастие този спорт е маратон, а не спринт. Дори резултатите да идват много, много бавно, тренировките с тежести имат редица предимства, които не са за изпускане.
                        <br>
                        Тази статия е увод към една книга, в която описах още по-подробно защо няма такова нещо като най-добра тренировъчна програма.
                        <br><br>  <img class="rounded" src="../assets/food2.jpg" alt="New York" width=100% height="300">
           </div>
        </div>
</div>
<div class="from-top">

</div>