<div class="content from-top content">

        <h1>Здравословно хранене – Кои храни са вредни и кои са полезни?</h1>
        <h5>И на вас ли ви писна някой да ви казва какво трябва и не трябва да ядете?

                Доста от вас сигурно вече обмислят фотосинтеза като оптимална диета… Въобще, има ли нещо което да е полезно? Кренвиршите не са от месо, зеленчуците са пълни с пестициди, месото с хормони, а хората все по-болни. Как тогава да се храним правилно?
                
                В тази статия ще изброим (почти) всички ДОКАЗАНО вредни храни и ще развенчаем някои от най-популярните митове в интернет.</h5>
        <br>
        <br>
        <div>
                “ВСИЧКО Е ХИМИЯ” – ИСТИНА ИЛИ ЛЪЖА?

                <br><br><br>
Нека започнем с един доста известен мит… който може да се окаже истина.
<br>
Чест аргумент да не консумираме дадена храна е ,че е “блъскана с химия”- оцветители, изкуствени подсладители, консерванти и какво ли още не. Всичко което не разпознаваме на етикета със съставките или звучи прекалено сложно също спада в графата “химия”.
<br><br>
Истината е ,че всяка храна е изградена от различни на брой химични елементи. Доста от тях имат сложни имена, дори тези които са напълно “натурални”. Като пример погледнете снимката долу. Това са съставките на банана (забележете всичките “Е-та”)
<br>
<br>
<br>
КАК ДА ПОДХОДИМ ИНТЕЛИГЕНТНО КЪМ ПРОБЛЕМА С ВРЕДНИТЕ ХРАНИ?
Аргумента сам по себе си е труден да се обори, защото всичко наистина е химия. Част от проблема идва, че точно тези дълги думички и странно изглеждащи съкращения, са ни толкова непознати, че просто ги приемаме за опасни.
<br>
Почти всеки бозайник е недоверчив към това което не разбира. Това си е стратегия за оцеляване. Всички знаем, че “любопитството уби котката” – израза не е случаен. Това е и целта на статията, да внесе яснота върху това коя храна или диета е наистина опасна.
<br>
За наше голямо щастие хранителната индустрия е добре регулирана и съществуват редица правила и изисквания преди даден продукт да се озове на масата ни. Процеса далече не е перфектен, както ще разберем в следващите параграфи.
<br>
КАКВА Е РОЛЯТА НА ХРАНИТЕЛНИТЕ КОРПОРАЦИИ В КАЧЕСТВОТО НА ДИЕТАТА НИ?
<br>
Но ако оставим конспирацията на страна… доста корпорации са силно (финансово) заинтересовани да продават храна която не ни убива. Не можеш да продаваш на мъртъвци.
<br>
Повечето изкуствено създадени “химии”, които се добавят в храната са добре изследвани и тествани. Целта на тази статия е да изброи всички доказано вредни храни, затова няма да се спираме на неща като консерванти, оцеветители и подсладители. Дори при големи дози риска  за човешкото здраве е незначим [1].
<br>
Но все пак има субстанции, които са доказано вредни или имат поне някакъв негативен ефект върху здравето ни.
<br>
Важно е да споменем, че общия калориен прием има също толкова голям ефект колкото и качеството на храната която ядем. Ако основната ви цел е да свалите тегло, прегледайте нашата статия “Най-добрата диета за отслабване”.
<br>
И така, ето кои са най-популярните митове за здравословното хранене и вредните храни , и до колко те са оправдани:
<br>
#1 ПЛОДОВЕ И ЗЕЛЕНЧУЦИ: НЯМА КАК ДА СА ВРЕДНИ… ИЛИ ПЪК ИМА?
<br><br><br>

Може би единствената група  храни, която почти всеки може да се съгласи че спада в графа “здравословна диета”. Съществуват ли рискове  за хората консумиращи прекалено много зеленчуци?
<br>
Около ⅓ от стомашните проблеми идват от диетата, по специфично консумацията на сурови растителни продукти. Доста хора например, имат проблеми с фруктозата или други захари в плодовете [2] [3].
<br>
Това не е толкова странно, като се има предвид:
<br>
Повечето растения не “печелят” от факта че ги ядем и нямат еволюционен интерес да бъдат по-ядливи.
Природата не се грижи за нас, по-скоро ние сме еволюирали да се справяме с нея… а адаптацията ни не е перфектна към всичко, което категоризираме като храна.
Случайни мутации и генетичното разнообразе като цяло правят някои хора по-пригодени, а други-зле адаптирани към определ тип храна.
❌ РИСКОВЕ:<br><br>
Всички растителни продукти съдържат вещества, които не могат да се усвоят пълноценно, могат да имат известен негативен ефект, или дори да навредят на определени хора. Така наречените “бавни въглехидрати” не винаги са толкова безвредни.
<br>
✔ ПОЛЗИ:<br><br>
Истината е че всяка храна съдържа доза отрова. Ябълките примерно съдържат цианид, а броколите арсен. Два изключително отровни химични елемента.
<br>
Повечето плодове и зеленчуци съдържат поне един тип ‘отрова’ ,но количествата са толкова малки, че ефекта върху човешното здраве е реално… никакъв. Дозата прави отровата. Освен ако не ядете по 10кг плодове на ден, риск за вашето здраве няма!
<br>
Повечето плодове и зеленчуци са пълни с множество витамини, минерали, анти-оксиданти и хранителни влакнини (фибри). Общия им ефект върху човешкото здраве е безспорно положителен, дори при консумация на големи количества [4].
<br>
Освен това са засищащи и са идеална добавка към един хранителен режим за изчистване на мазнини.
<br>
⚠ ОБЕКТИВНА ОЦЕНКА:<br><br>
Индивидуалния компонент предполага, че има голяма разлика кой колко от какво може да понесе. Някои хора, могат да имат проблем с консумацията на определени растителни продукти.
<br>
Колкото и да е полезна една ябълка и 9 от 10 човека да нямат проблем да консумират по 5 на ден…. ако ти си този 10ти човек, който се превива от болка след 1 ябълка – добра идея е да не ги ядеш. 
<br>
С времето всеки сам  може да прецени кое до каква степен и в какви количества му понася. Индивидуалният компонент идва на първо място, преди всякакви изследвания и “общи” препоръки.
<br>
#2 КАКВО ИМА В КОЛБАСИТЕ И КАК НИ УБИВА?
<br><br><br>

Обществена тайна е ,че салама по времето на соца беше най-хубав. Сега ядем пластмасови кренвирши, безвкусни колбаси, а “вкусотиите” от МакДоналдс не са въобще за предпочитане.
<br>
Какъв е проблема с преработеното месо?
<br>
Често в преработеното (но почти никога сурово) месо се добавят нитрати и нитрити. Те имат  за цел да удължат срока на годност и да го запазят по-прясно изглеждащо.
При консумация на така обработеното месо, риска от рак и сърдечносъдови болести нараства [5].
<br>
При определена обработка (грил или пушено месо) химичните реакции, които протичат при тези процеси могат доведат до образуването на вредни субстанции.
Това се случва когато мазнината от месoто изтича и се нагрява до високи температури. Oбразуват се субстанции (polycyclic aromatic hydrocarbons) сходни до тези при горенето на въглища или цигарен дим. Пушека, който е резултат от този процес, попада обратно върху месото [6].
<br>
❌ РИСКОВЕ:<br><br>
Честата консумация на преработени меса (грил, бургери, колбаси и тн) може да увеличи риска от рак и сърдечносъдови болести.  
<br>
✔ ПОЛЗИ:<br>
Ако сами си готвим месото не съществува почти никакъв риск за здравето ни. Месото е много добър източник не само на протеин, но и  на доста витамини и минерали.
<br>
Дори и консумацията на преработени меса от време на време не е голям проблем. Малко са хората, които карат на кренвирши и принцеси (и не живеят в студентски град) с години.
<br>
Сравнено с пушенето и честата консумация на алкохол, една хубава плескавица определено си заслужава 2те минути, с които ще ви скъси живота.
<br>
#3 НЕКА НЕ СЕ ЛЪЖЕМ: ИМА ЛИ ХОРМОНИ В ПИЛЕШКОТО?
<br><br>

Не е мит, не е лъжа! В пилето ви има хормони, в прасенцето също, в броколите също, в бананите пак, картофите направо бъкат от хормони. Дори не се бъзикам…
<br>
Първо, какво са хормоните? На кратко, това са химични съединения, произвеждани от различни жлези. Хормоните регулират основните жизнени процеси в един организъм.
<br>
Растенията и животните също произвеждат хормони. Което означава, че всеки пък когато се храним, поемаме (изненада!) хормони с храната. Като пример – картофите съдържат малки количества естроген.
<br>
ЗАЩО ХОРМОНИТЕ В ХРАНАТА НЕ СА ОПАСНИ?
Хормони почти НЕ се използват при отглеждането на животни. Поне не в Европа (вижте частта за био храните за повече информация)
Повечето животински и растителни хормони нямат действие върху човека. Примерно хормона на растежа при кравите (bGH) не е активен в човешкия организъм.
Повечето хормони се разграждат още при готвене или от стомашните сокове
Количеството приети хормони от храната е в пъти по-малко от това, което тялото ни произвежда. Като пример, за да има видим ефект, един културист трябва да си инжектира (оралния прием е далеч по-неефективен) хормон на растежа доста над това, което тялото му има като капацитет да произведе.
Една интересна статия, която говори за хормоните в млякото, но доста от нещата се отнасят и за месото:
<br>
The Truth About Hormones in Milk
На кратко, дори и някой да инжектира пилетата на село с разни хормони, шанса това да се отрази на здравето ни е…. нищожен.
<br>
Ако все още имате опасения, че хормоните в месото са отговорни за затлъстяването, препоръчваме ви да прочетете нашата статия: “Какво трябва да знаете за покачването и свалянето на личното тегло?”
<br>
#4 КАКВО Е ГМO И ТРЯБВА ЛИ ДА ГО ИЗБЯГВАМЕ?
<br><br><br>

Бележка: ГМО темата е включена главно поради етически причини, не толкова здравословни.
<br>
Като начало, всичко е ГМО (генно-модифициран-организъм). Почти нищо от това, което ядем в днешно време не е във формата и вида… или въобще някога е съществувало (пр: ябълки или броколи) в природата. Дори кучето ви е ГМО (освен, ако не гледате див вълк)
<br>
Баба ви е яла ГМО, нейната баба е яла ГМО и когато България е била на 3 морета, пак са яли ГМО. Да не говорим, че дори картофите в мусаката идват от Америка и пра-пра баба ви няма шанс да е готвила това типично “нашенско” ястие.
<br>
Пък първите картофи до колко са приличали на картофите, които са култивирали индианците и след това картофите, които са стигнали в Европа… това е друг въпрос.
<br>
РАЗЛИКАТА МЕЖДУ ГМО ДНЕС И СЕЛЕКТИВЕН ПОДБОР ПРЕЗ ГОДИНИТЕ
Дали чрез селективен подбор, кръстосване на организми и много години чакане или подбиране на гени в лаборатория – резултата е същия.
<br>
Дори може да поспорим, че учени в лаборатория, които гонят слава и пари  и ги застрашават глоби и затвор, имат доста по-голяма успеваемост, сравнени с хората живели в пещери и техните първи ‘научи опити” преди 10,000 години.
<br>
Голяма част от анти-ГМО движението се основава на идеята, че природните продукти са полезни (или поне нямат вреда) за човека. Тези създадени в лаборатории са вредни. 
<br>
Нека не забравяме, че чумата и грипа са 100% натурални и освен това са избили по-голям процент от населението, отколкото всички войни през човешката история. А инсулина, от който имат нужда толкова много диабетици се синтезира от ГМО-бактерии.
<br>
⚠ ОБЕКТИВНА ОЦЕНКА:
<br><br><br>

Границата между ГМО и “природни” продукти е доста размита. Сами по себе си продукти с ГМО надпис не са с нищо по-различно от останалите.
<br>
Но до колко е безопасно да се създават супер култури или дори животни и да се пускат в природата , без да се знае как ще се отразят на екологичния баланс и хранителната верига… това си е отделна тема.
<br>
От друга страна, благодарение на ГМО културите много малко хора по света днес умират от глад. Повечето храни са на достъпни цени. Замърсяването също се минимализира, тъй като ГМО културите и животни са по-устойчиви и изискват по-малко грижи за да оцелеят.
<br>
Интересно четиво, за тези които искат да научат повече по темата:
<br>
Genetically Modified Organisms by Brad Dieter
#5 ОПРАВДАНАТА ЛИ Е ВИСОКАТА ЦЕНА НА БИО ПРОДУКТИТЕ?
<br><br>

Първо, какво е био (екологичен) продукт и има ли разлика с органични / натурални продукти?
<br>
Според “Българската Агенция по Безопасност на Храните” (БАБХ) био продуктите имат сертификати, удостоверяващи произхода и начина на обработка и отговарят на определени изисквания и стандарти. Пълният текст може да прочетете на страницата на агенцията.
<br>
За натурални продукти ясна дефициния и дори регулиране няма. С други думи “натурално” е просто маркетинг дума, без особена гаранция за каквато и да е разлика с конвенционален продукт.  
<br>
КАКВА Е РАЗЛИКАТА МЕЖДУ БИО И КОНВЕНЦИОНАЛНО ЗЕМЕДЕЛИЕ?
Според БАБХ, основните разлики са , че при био земеделието се използват “естествени” торове, “природни” пестициди, капани за вредители, механично отстраняване на плевели, не се използват антибиотици или хормони, а животните се хранят с “био” фуражи.
<br>
Пълен и подробен списък може да намерите на страницата на агенцията. Един съвет – не бих приел повечето изказвания в документа за 100% верни, особено при положение, че не са подкрепени с никакви проучвания. Това е официален орган все пак, а не вестник.
<br>
Описаното в сайта не е доста ясно, но ето основните изводи от текста:
<br>
био продуктите са по-богати на витамини, минерали и анти-оксиданти
пестициди и торове се използват и двата случая
отглеждането на био култури изисква повече труд
отглеждането на био култури и животни е доста рисково
извода от точки 3 и 4 е , че био продуктите са с доста по-висока цена
хормони до колкото знам, не се използват в България, та не съм сигурен защо дори са споменати (виж #1 бележка)
антибиотици не се използват при отглеждането на био животни, но до колко това има отражение върху човека преценете сами (виж #2 бележка)
#1 Бележка: Иронично същия сайт има статия, която обеснява, че хормони в пилешкото никога не са били разрешени. Темата за хормоните е разгледана детайлно в друга част от статията.
<br>
#2 Бележка: Животните, както човека, боледуват често. Ако не се използват антибиотици, смъртността нараства значително. Когато се налага да се използват лекарства обикновено има период на изчакване.
<br>
Така организма на животното има време да се изчисти от остатъчния антибиотик преди да се заколи и месото пусне в хранителната верига. С други думи шанса болни или наскоро лекувани животни да се озоват в чинията ви е малка.
<br>
За тези от вас, които нямат вяра, че тази практика се прилага в България, имайте предвид ,че голяма част от месото в магазините не е произведено у нас. Телешкото бон филе най-вероятно идва от Германия или Холандия. Ако нямаме вяра на контрола в тези страни, едва ли има на кои друг да се доверим.
<br>
❌ РИСКОВЕ:(КОНВЕНЦИОНАЛНИ ПРОДУКТИ)
<br><br><br>

Сравненени с био продуктите, конвенционалните продукти имат по-ниски съдържания на витамини, минерали и антиоксиданти.
<br>
Това се дължи на факта ,че био продуктите са подложени  на по-малко обработка и допълнително третиране със синтетични субстанции.
<br>
✔ ПОЛЗИ (КОНВЕНЦИОНАЛНИ ПРОДУКТИ)
<br><br><br>За жалост, разликата между съдържанието на микроелементи и ефекта върху здравето на човек при диета от био и конвеционални продукти е…. доста малка. Можем спокойно да си хапваме домати от Фантастико, без да ни е страх, че губим много.
<br>
Повече инфо за (липсата на) забележим ефект върху здравето:
<br>
Nutritional quality of organic foods: a systematic review
Are Organic Foods Safer or Healthier Than Conventional Alternatives?: A Systematic Review
Това се дължи на 2 основни причини:
<br>
Използваните пестициди и антибиотици почти не достигат до нас или остатъчното количество е толкова малко, че няма ефект върху здравето.
Разликата в количеството макронутриенти и антиоксиданти е минимално. Примерно, ако аз вземам 1000лв заплата, а Пешо 1100лв – Пешо е по-богат, но и двамата не можем да си позволим почивка на Малдивите. Същото толкова незначителна е разликата между обикновената и био ябълката.
КОЕ ОПРЕДЕЛЯ КАЧЕСТВОТО НА ОРГАНИЧНИТЕ ПРОДУКТИ?
Всъщност, разликите в почвата и това с какво се хранят животните има много по-голям ефект върху качеството на производството. Всички тези витамини и минерали идват от там. Ако почвата не е с добро качество, както и да ги гледаме тези растения няма как крайният продукт да е богат на хранителни елементи.
<br>
Вкуса също се изтъква като плюс на био продуктите. Това е доста субективно. Но при тестове където хората НЕ знаят кое е био и кое не… био продуктите не се справят по-добре [7]. Разлика във вкуса няма.
<br>
Вкуса до голяма степен зависи от това колко е свеж продукта. Затова доматите на баба са толкова яки… защото тъкмо ги е набрала от градината. Изчакайте ги 2-3 дена и едва ли ще са по-вкусни от тези в магазина (поне ако сравняваме същия сорт)
<br>
⚠ ОБЕКТИВНА ОЦЕНКА:
<br><br><br>

Дори и с малко, био продуктите са по-хранителни. Така че ако бюджета ни го позволява, добре е да ги вкараме в диетата си. Но за жалост, разликата в цената не отговаря на разликата в качеството.
<br>
Освен това производство на био продукти често генерира повече вредни емисии и замърсяване.
<br>
Ако голям процент от продукцията и животните, които гледаш измират ,защото не използваш пестициди и антибиотици , за да ги предпазиш , трябва да заемеш повече земя и да гледаш повече продукция. Това е обвързано с повече замърсяване.
<br>
От естична гледна точка, “био” не означава “хуманно” (макар и така да маркетират такъв тип продукти). Но все пак има (нищожен) шанс био кокошката да е живяла по-добър живот от квачката в “конвенционалната” ферма.
<br>
#6 ТРАНС МАЗНИНИ: ЗАЩО СА ВРЕДНИ И КЪДЕ СЕ СРЕЩАТ?

<br>
Нека първо поясним, че в природата съществуват транс мазнини, които нямат негативен ефект върху човешкото здраве. Но консумацията на тези, създадени от хората, могат да увеличат риска от сърдечносъдови и други болести [8].
<br>
Продукти като маргарин, пържени храни (от ресторанти за бързо хранене), торти и сладки с глазура често съдържат доста изкуствено създадени транс мазнини.
<br>
Причината е че този тип мазнини увеличават трайността на продукта и подобряват вкусовите му качества, което се отразява положително на продажбите.
<br>
Обикновено транс мазнините са отбелязани в списъка със съставките под името “частично хидрогенирани” или “напълно хидрогенирани мазнини”. Използването им е доста разпространено в източна Европа [9].
<br>
❌ РИСКОВЕ (ТРАНС МАЗНИНИ)<br><br><br>
За нещастие, този тип мазнини са едни от малкото субстанции в този списък, които е добре да избягваме, когато можем. Консумацията им в големи количества, може значително да увеличи риска ни от сърдечносъдови болести.
<br>
Почитателите на гъвкавата диета (IIFYM) е добре да обръщат повече внимание на качеството на храната, а не само общото калорийно съдържание.
<br>
✔ ПОЛЗИ (ТРАНС МАЗНИНИ)<br><br><br>
Ползи е спорно дали въобще има, освен може би ефекта върху вкуса и трайността на продуктите. В малки количества и от време на време, консумацията на транс мазнини едва ли ще доведе до забележими последици върху здравословното ни състояние.
<br>
Както стана вече дума, ефекта от тютонопушенето или прекалената консумация на алкохол е доста по-голям и осезаем.
<br>
⚠ ОБЕКТИВНА ОЦЕНКА НА МАЗНИНИТЕ В ДИЕТАТА НИ
<br><br><br>

Другите типове мазнини (наситени, моно и полиненаситени) са безопасни за човешка консумация, поне в рамките на една балансирана диета.
<br>
Ако се чудите как да разпознавате коя мазнина каква е:
<br>
Наситени: обикновено в твърдо състояние при стайна температура. Съдържат се главно в продукти от животински произход.
Мононенаситени: обикновено в течно състояние. Съдържат се в олио, зехтин и други течни мазнини от растителен произход.
Полиненаситени: най-известните такива са Омега-3 (има ги в рибата и лененото семе) и Омега-6 (има ги в житните култури)
Доста храни, като ядки, яйца, семена и дори сурово месо, съдържат добра комбинация от трите типа мазнини.
<br>
Бележка: ако искате научите повече за другите два основни макронутриента, хвърлете по един поглед на тези статии:
<br>
Въглехидрати: “Захар – сладки факти за горенето на мазнини!”
Протеин: “Какво не знаете за най-важния макронутриент?”
НАСИТЕНИТЕ МАЗНИНИ – ВРЕДНИ ИЛИ ПОЛЕЗНИ?

<br>
Твърди се че увеличават риска от сърдечносъдови болести. Тези “факти” са силно преувеличени и базарани главно на епидемиологични проучвания през средата на миналия век.  
<br>
Пример за епидемиологични проучвания е когато се наблюдава как определена група от хора консумира все по-голямо количество наситени мазнини и честотата на смъртни случаи се увеличава. 
<br>
Такъв тип изследвания, са полезни… но понякога крайно неточни. В горния пример, е трудно да се контролира за влиянието на неща като наднормено тегло, общо качество на диетата, тютюнопушене, консумация на алкохол, стрес и тн. Всяко едно от тях е рисков фактор само по себе си.
<br>
Цялата история с наситените мазнини се раздухва до такава степен, че резултата е да започнат да ги изписват отделно от общия брой мазнини на етика на всяка храна.
<br>
Вече има достатъчно на брой изследвания доказващи, че наситените мазнини не са “злото”, за което ги представят [10]. Консумацията им в умерени количества не е свързана с повишеният риска за болести на сърцето.
<br>
МОНОНЕНАСИТЕНИ МАЗНИНИ: КАКВО ЗНАЕМ ЗА ТЯХ?

<br>
Те не са толкова добре изследвани. Но тяхната консумация, (все още) не е свързана с негативни последици за човешкото здраве. При домашни условия са доста безопасни.
<br>
Добре е да споменем, че при високи температури могат да протекат някои химични реакции, които да променят структурата на мазнините.
<br>
Такива температури е невъзможно да достигнем вкъщи на печката или котлона, а и риска е главно, ако ползваме полиненаситени мазнини, които могат да образуват транс мазнини.
<br>
Все пак е добра идея, да избягваме да консумираме прекалено често пържени храни от ресторанти за бързо хранене. Там температурите са доста по-високи, а мазнината не се сменя толкова често (понякога с дни).
<br>
Качеството на мазнините деградира и дори могат да се образуват вредни субстанции (вижте частта за преработеното месо).
<br>
ПОЛИНЕНАСИТЕНИ МАЗНИНИ И ПОЛЗИТЕ ОТ ОМЕГА-3
<br>

Полиненаситените мазнини и в частност Омега-3, са добре изследвани и техните полезни качества са познати от край време. Консумацията на Омега-3 помага да се намали възпалението, риска от сърдечносъдови болести и дори негативните ефекти от стареене.
<br>
Интересна и кратка статия, за това какво представляват Омега-3 мастните киселини и тяхното действие върху човешкия организъм:
<br>
What Is Omega-3 & Why Do You Need It in Your Diet?
Омега-3 и Омега-6 участват в различни жизнени процеси, но не могат да бъдат синтезирани от човешкия организъм. Съотношението между двата типа мастни киселини е добре да не отива в крайности.
<br>
Омега-3 и Омега-6 имат сравнително противоположно действие върху някой процеси (примерно възпалитени процеси).
<br>
Но при една здравословна диета, при която консумираме разнообрази и минимално преработени продукти (повече за това в частта за готвенето), няма нужда да балансираме съотношението на Омега-3 спрямо Омега-6.
<br>
#7 АКО БОБА Е ПОЛЕЗЕН ЗАЩО ПРЪЦКАМЕ ОТ НЕГО?

<br><br>
Бобови култури, ядки и дори ще сложим овеса и пълнозърнестите храни под същия знаменател: всички те  съдържат известна доза “анти-нутриенти”.
<br>
Анти-нутриентите не могат да се усвоят от организма и дори могат да го раздразнят. За капак, пречат на усвояването на другите хранителни вещества като витамини, минерали [11] и дори протеин.
<br>
❌ РИСКОВЕ:<br><br><br>
За разлика от плодовете и зеленчуците (които също съдържат анти-нутриенти), бобовите култури, ядките и овеса имат по-голям брой от тях и съответно ефекта е по-голям.
<br>
Основния проблем е че ако в 100г сварена леща имаме ~35г магнезии, поради наличието на анти-нутриентите ще усвоим само (около) 20г. Освен това при по-големи количества някой хора могат да имат сериозни проблеми със стомаха и дори газове.
<br>
Бележка: доста от тези храни имат високо съдържание на хранителни влакнини, които допринасят за подуването и газовете.
<br>
Самите газове се дължат на бактериите в организма (част от чревната флора), които се хранят с фибрите и произвеждат газ като краен продукт. 
<br>
С други думи, вината не е във вас, бактериите пръцкат в стомаха ви, когато преядат с бобец. Доста по-сложно е от това, но нека не хвърляме цялата вина на анти-нутриентите.
<br>
✔ ПОЛЗИ:<br><br><br>
За щастие чрез правилната подготовка, като накисване (бобови култури), ферментиране (овес и соеви продукти), или оставяне да покълнат зърната (пълнозърнести продукти) може почти напълно да се неутрализира негативния ефект на анти-нутриентите.
<br>
Дори и без тази предварителна подготовка, голяма част от населението може да консумира съответните храни без проблем.
<br>
Бобовите култури и ядките са толкова полезни, че дори и като отчетем действието на анти-нутриентите, сумарния ефект е убедително положителен [12].
<br>
⚠ ОБЕКТИВНА ОЦЕНКА:<br><br><br>
Както при плодовете и зеленчуците, при горе-споменатите храни също има доста голям индивидуален компонент на толеранс.
<br>
Дори една купа леща е “по-тежко” ястие за повечето хора, сравнено със същото количество плод / зеленчук. Това предполага, че границата на поносимост и комфорт е по-ниска, поне на фона на други храни.
<br>
Можем да се съгласим, че боба и лещата са полезни, но това не означава и че трябва да се насилваме да ядем по една купа всеки ден… особенно ако изпитваме дискомфорт след това.
<br>
#8 КАКВО НЕ ЗНАЕМ ЗА ПЪЛНОЗЪРНЕСТИТЕ КУЛТУРИ И БЕЗГЛУТЕНОВАТА ДИЕТА?

<br><br>
Като допълнение към точка #7 за бобовите култури, нека вмъкнем и малко информация за пълнозърнестите храни. Те са по-богати на доста витамини и минерали, но също така и на (вредните) анти-нутриенти. Въпреки това, консумацията на пълнозърнести храни не крие големи опасности, освен тези изброени в точка #7.
<br>
Бялото брашно е по-бедно на почти всичко (съответно и анти-нутриенти), заради допълнителната преработка.
<br>
Като имаме предвид негативния ефект на анти-нутриентие, което води до понижена абсорбация на полезните вещества, можем да заключим че черното брашно не е по-хранително от бялото.
<br>
Редица изследвания показват, че няма ефект върху телосложението или маркерите на възпаление между бял и пълнозърнест хляб [13]. На прост български: дали ядем бял или черен хляб най-вероятно няма да доведе до разлика в здравословното ни състояние
<br>
КАКВО Е ГЛУТЕН?<br><br>
Това е група от протеини съдържащи се в житните култури. За него доста се тръби последните години, но много от фактите са преувеличени или изкарани извън контекст. Процента на хората с истинска глутенова непоносимост (целиакия) е под 1%.
<br>
Все пак доста хора изпитват дискомфорт след консумацията на тестени продукти. Както при всички храни, това се дължи на неспособност или затруднение на организма да преработи или абсорбира даден хранителен елемент. В такива случаи, се налага да се ограничи консумацията на проблемните храни.
<br>
Хората с непоносимост към тестени продукти, страдащи от целиакия (celiac disease) или обмислящи безглутенова диета диета могат да прочетат повече в тази статия:
<br>
The Gluten Manifesto: Everything You Need to Know About Gluten
#9 ГОТВЕНЕ И СУРОВОЯДСТВО: ПОЛЕЗНО ЛИ Е ДА ЯДЕМ СУРОВИ ЯЙЦА?
<br><br>

Почти всеки е чувал, че яйцата са по-полезни, ако ги пием сурови… вместо да ги мятаме на тигана. Истина или мит и до колко готвенето дава отражение върху хранителния състав на храната?
<br>
За разлика от доста диви животни, хората сме сравнително непригодени да се справяме със жилаво месо, твърди ядки и доста сурови растения. И все пак сме на върха на хранителната верига.
<br>
Може да нямаме остри зъби или специално пригодени стомаси, но си имаме един орган, който се справя с почти всяко кулинарно предизвикателство: мозък.
<br>
Нямаш нужда от голяма и здрава челюст, когато знаеш как да си изпечеш пържолата, че да ти се топи в устатa.
<br>
Това което постигаме с готвенето е доста сходно на това, което се случва в устата и стомаха на много диви животни: механична и химична обработка на храната.
Това, което печелим е по-лесна (и често по-пълна) абсорбация на продуктите получени след цялата тази предварителна обработка.
Освен това термичната обработка елиминира голям процент от вредните бактерии и други организми опасни за човешкото здраве.
❌ КАКВО ГУБИМ?
<br><br><br>

Печене – при по продължително печене и високи температури могат да се наблюдават загуби на витамин B-комплекс (~40%). Но като цяло, ефекта върху микронутриентите (витамини и минерали) е минимален сравнен с други методи на готвене.
Готвене на пара: наблюдават се най-малки загуби на хранителни вещества (~10%), но има ограничено приложение (пържола на пара?)
Варене – главно се губят водноразтворимите витамини (ватамини С и В-комплекс), но голяма част от тях остават във водата (~60-70%).  Така че ако си правите супа, доста от това което се “губи” ще го поемете обратно с бульона.
Скара и грил – глано се наблюдава загуба на витамин В-комплекс и някой минерали, но до по-малка степен (~40%) отколкото при варенето. Но пък при варенето може да си “върнете” част от загубите с бульона.
Микровълнови печки: загуби главно на витамин С (~20%). Загубите на Омега-3 също са минимални (въпреки, че печенето и варенето имат още по-малък ефект върху мастните киселини)
Пържене – ефекта върху различните микронутриенти не е голям, но за сметка на това е възможно да се измени структурата на някой мастни киселини и дори да се образуват транс мазнини. Пърженето има и доста негативен ефект върху съдържанието на Омега-3.
Замразени продукти: загубата на витамини и антиоксиданти е минимална. Дори замразените продукти са често по-пресни, тъй като са набрани точно когато са узрели.. За разлика от стоката в магазина, която може да е преседяла няколко дни.
Но пък някои (обикновено) зеленчуци преминават топлинна обработка, преди да ги замразят, което може да доведе до (минимални) загуби на витамини.
<br>
Консерви: загубите на нутриенти може да дойде от предварителна обработка и ще зависи доста от нея. Но като цяло, ако решите да приемете и соса от консервата, загубите ще са около 30%.
КАК ДА ГОТВИМ, ЗА ДА ЗАПАЗИМ КАЧЕСТВОТО НА ХРАНАТА?

<br>
Ефекта от пърженето и грил / скари е обяснен в частта за преработените меса… но ето още няколко препоръки:
<br>
Най-добрия начин да си приготвяме зеленчуци е да ги ядем пресни и сурови. Ако се налага да ги готвим, на пара е най-добрият вариант. Замразени зеленчуци също са добър вариант. Mоже да ги оставим да се размразят сами или да ползваме микровълнова.
Месо и гарнитурата към него е можем да направим на фурна (печене). За някой продукти (картофи или ориз) варенето също е добра опция. Микровълновата печка е друг добър вариант, който малко хора използват (идеален за месо, яйца, риба).
Пърженето не е добра идея ако си готвим мазна риба. Готвенето на много високи температури като цяло има негативен ефект върху хранителното съдържание на храната.
Интересна статия, ако искате да научите как да минимализирате загубите на хранителни вещества при готвене:
<br>
How cooking affects nutrient content
✔ ПОЛЗИ:<br><br>
Загубите от към макронутриенти (протеин, въглехидрати и мазнини) е нищожен. Може би “най-лесния” начин да имаме загуба на протеин… е да си прегорим пържолата (да стане на въглен).
<br>
Загубата от към микронутриенти (витамини, минерали, антиоксиданти) е също малка, но оправдана. Доста от хранителните елементи не могат да се усвоят от организма, ако храната не премина термична обработка.
<br>
Някой храни са напълно негодни и дори токсични в сурово състояние (примерно кашу). Освен това готвенето подобрява вкусовите качества на храната. Доста голямо удоволствие, от което едва ли си заслужа да се лишаваме.
<br>
⚠ ОБЕКТИВНА ОЦЕНКА<br><br><br>
Но понякога, ако се опитваме да сменим хранителните си навици с по-здравословни, или сме в период на сваляне на мазнини, трябва да обръщаме повече внимание какво се случва с храната ни.
<br>
Суровите плодове и зеленчуци са по-засищащи и по-полезни отколкото сготвените или тези под форма на пюре или сок. Но пък, консервите и замразените храни са голямо удобство и много добър заместител, когато нямаме време да си готвим.
<br>
КАК ДА СЕ ХРАНИМ ЗА ДЪЛЪГ И ЗДРАВОСЛОВЕН ЖИВОТ? 
За тези от вас, които стигнаха до края: честито! Изчетохте 5000+ думи, за да стигнете до извода “не се лишавай от малките удоволствия в живота, но консумирай с мярка”.
<br>
Малко са нещата, които сами по себе си са вредни и консумацията им не носи абсолютно никаква полза. Дори субстанции като алкохол, никотин и наркотици, колкото и да са вредни, в малки и редки дози едва ли ще ни скъсят живота с много.
<br>
Да не забравяме и огромния ефект на стреса, движението и щастието.
<br>
Иронично, ако се тревожим прекалено много за качеството на диетата си е възможно допълнителния стрес да окаже по-голям (негативен) ефект, отколкото малкото подобрение в храната.
<br>
КАКВА Е ЦЕНАТА НА ДЪЛГОЛЕТИЕТО?
Заслужава ли си да доживеем до 90 с много лишения, без да се сме се насладили на малките удоволствия в живота? Или по-скоро бихме го докарали до 84-5 с малко повечко “компромиси”. Или пък 60 години, прекарани в пълен хедонизъм? 
<br>
Всеки решава сам как да живее живота си. Надявяме се информацията тук да ви е била полезна, за да вземете най-доброто решение как да си изживеете и насладите на живота.
<br>
Оставям ви с едно интересно четиво от Алан Арагон, за “чистото” хранене:
<br>
Research Review: The Dirt On Clean Eating Written By Nutrition Expert Alan Aragon
Изследвания използвани или цитирани в статията:
<br>
[1] Sugar substitutes: Health controversy over perceived benefits
<br>
[2] Clinical Ramifications of Malabsorption of Fructose and Other Short-chain Carbohydrates
<br>
[3] Dietary fructose intolerance, fructan intolerance and FODMAPs
<br>
[4] Fruit and vegetable intake and the risk of cardiovascular disease, total cancer and all-cause mortality—a systematic review and dose-response meta-analysis of prospective studies
<br>
[5] Red and Processed Meat Consumption and Risk of Incident Coronary Heart Disease, Stroke, and Diabetes Mellitus
<br>
[6] Effects of grilling procedures on levels of polycyclic aromatic hydrocarbons in grilled meats
<br>
[7] Consumer sensory analysis of organically and conventionally grown vegetables
<br>
[8] Cardiovascular disease and trans fatty acids: legal act necessary
<br>
[9] Limiting trans Fats in Foods: Use of Partially Hydrogenated Vegetable Oils in Prepacked Foods in Slovenia
<br>
[10] Meta-analysis of prospective cohort studies evaluating the association of saturated fat with cardiovascular disease.
<br>
[11] Phytic acid added to white-wheat bread inhibits fractional apparent magnesium absorption in humans.
<br>
[12] A review of the Hispanic paradox: time to spill the beans?
<br>
[13] Association between carbohydrate quality and inflammatory markers: systematic review of observational and interventional studies  
        </div>
        <br><br>
        <div class="row">
                <div class="col-md-12">
                       
                                <img class="rounded" src="../assets/food2.jpg" alt="New York" width=100% height="300">
           </div>
        </div>
</div>
<div class="from-top">

</div>